.payment-fields {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.payment-fields select {
  padding: 8px;
  flex: 1;
}

.payment-fields input {
  padding: 8px;
  min-width: 0;
}

.payment-fields input[type='date'] {
  width: 150px;
}

.payment-fields input[type='number'] {
  width: 100px;
}

.payment-fields input[type='text'] {
  flex: 1;
}

.payment-fields button {
  padding: 8px;
}

select:has(option:checked[value='']) {
  color: lightgray;
}
