<form (ngSubmit)="submitPayment()">
  <div class="payment-fields d-flex gap-2 align-items-center">
    <input type="date" class="form-control" [formField]="paymentForm.paymentDate" />

    <input type="text" class="form-control" placeholder="Payee" [formField]="paymentForm.payee" />

    <input
      type="number"
      class="form-control"
      placeholder="Amount"
      step="0.01"
      [formField]="paymentForm.amount"
    />

    <select
      class="form-select"
      [formField]="paymentForm.category"
      [class.text-secondary]="paymentForm.category().value() === ''"
    >
      <option value="" class="text-secondary">Select a category</option>

      @for (category of categories; track category) {
        <option [value]="category">{{ category }}</option>
      }
    </select>

    <input
      type="text"
      class="form-control"
      placeholder="Description"
      [formField]="paymentForm.description"
    />

    <button type="submit" class="btn btn-primary text-nowrap">Save</button>
  </div>

  @if (errors()?.length > 0) {
    <div class="mt-2">
      @for (error of errors(); track error.field) {
        <div class="text-danger small">{{ error.field }}: {{ error.defaultMessage }}</div>
      }
    </div>
  }
</form>
